# environment files typically containing secrets
*.env
!example.env
data_governance_policy*.pdf
data_governance_policy*.tex
data_governance_policy*.xmpdata
*.xmpi


# directories created by developer tools
.idea/

# dependency directories
node_modules/
vendor/
.terraform/
